<main>
   <h1>¡Registrate!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam temporibus earum aliquid quibusdam, eum doloribus iste, delectus deserunt qui tenetur sequi at consequuntur placeat veritatis odit ipsam excepturi aliquam! Ratione? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vel officiis cupiditate voluptatem distinctio et similique cum dolorem natus fuga quas esse magnam explicabo suscipit, asperiores aperiam dolor ipsum dignissimos.</p>
    <app-form-register></app-form-register> 
</main>
