<main>
    <div id="formRegister">
        <h3>Formulario de registro</h3>
        <form action="submeter-formulario.php" method="post">				
            <input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre">
            <input type="text" name="introducir_apellido" id="apellido" required="obligatorio" placeholder="Escribe tu apellido">
            <input type="email" name="introducir_email" id="email" required="obligatorio" placeholder="Escribe tu Email">
            <input type="url" name="introducir_url" id="url" placeholder="URL">  
            <input type="password" name="introducir_contraseña" id="contraseña" required="obligatorio" placeholder="Contraseña">
            <input type="password" name="introducir_contraseña2" id="contraseña2" required="obligatorio" placeholder="Repite la contraseña">
            <button type="submit" name="enviar_formulario" id="enviar"><p>Enviar</p></button>					  
        </form>
    </div>
</main>